.footer {
   background: $primery;
   padding-top: 56px;
   padding-bottom: 16px;

   &__logo {
      margin-bottom: 15px;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
      color: $footerColor;

      .description {
         padding-top: 50px;

         .icon-tel path {
            fill: $secondary;
         }
      }
      @media screen and (max-width: $breakpoint768){
         .description {
            padding-top: 25px;
         }
      }

      .location {
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         max-width: 200px;
         margin-top: 40px;
         margin-bottom: 32px;
         
         letter-spacing: -0.02em;
      }
      @media screen and (max-width: $breakpoint768){
         .location {
            max-width: 100%;
         }
      }

      .footer-email {
         transition: all .3s ease;

         &:hover {
            color: $contantColor;
         }
      }

      // Navigation menu
      .navigation {
         display: flex;
         justify-content: space-between;
         gap: 80px;
         margin-right: 35px;
   
         &__title {
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
            
            color: #FFFFFF;

            margin-bottom: 16px;
         }
   
         &__links {
            margin-bottom: 10px;
         }
   
         &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            transition: all .3s ease;
            
            color: $footerColor;

            &:hover {
               color: $contantColor;
            }
         }
      }

      @media screen and (max-width: $breakpoint1024){
         .navigation {
            margin-right: 0;
            gap: 40px;
         }
      }
      @media screen and (max-width: $breakpoint768){
         .navigation {
            display: none;
         }
      }
   }

   &__links {
      display: flex;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 75px;

      .socials {
         display: flex;
         gap: 20px;

         &__item {
            border-radius: 100%;
            background: #FFFFFF; 

            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            transition: all .3s ease;

            &:hover {
               background: $contantColor;
            }
         }
      }
      
   }
   @media screen and (max-width: $breakpoint768){
      .footer__links {
         flex-direction: column;
         gap: 15px;
         align-items: center;
         margin-bottom: 30px;
      }
   }

   &__copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: $footerColor;
   }
}

@media screen and (max-width: $breakpoint768) {
   .footer {
      text-align: center;
   }
}
