
.header {
   background: $primery;

   &__top,
   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   
   &__top {
      padding-top: 16px;
   }
   @media (max-width: $breakpoint1024){
      .header__top {
         flex-direction: column;
         gap: 10px;
      }
   }

   // .header__search
   &__search {
      background: $containerColor;

      display: flex;
      align-items: center;
      justify-content: space-between;
      
      max-width: 100%;
      width: 282px;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 9px 16px;
      border: 1px solid $primery;
      transition: all .3s ease;

      &:hover {
         border: 1px solid $secondary;

         .btn-search-icon path{
            fill: #777;
         }
      }
   }

   .btn-search-icon {
      background: transparent;
   }

   .input-search {
      width: 100%;
      background: transparent;
   }

   // .header__tel
   &__tel {
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 24px;
      color: #FFFFFF;
      transition: all .3s ease;

      &:hover {
         color: $secondary;
      }
   }

   .icon-tel path{
      fill: $secondary;
   }
   .icon-tel{
      margin-right: 7px;
   }

   &__bottom {
      padding-top: 7px;
      align-items: start;
      position: relative;
   }

   @media (max-width: $breakpoint1024){
      .header__bottom {
         padding-bottom: 7px;
      }
   }

   .menu {
      display: flex;
      align-items: center;
      height: 65px;
      gap: 30px;

      &__link {
         font-weight: 600;
         font-size: 17px;
         line-height: 21px;
         letter-spacing: 0.01em;
         
         color: #FFFFFF;
         transition: all .3s ease;

         &:hover {
            color: $contantColor;
         }
      }
   }

   .menu-toggle {
      position: relative;
      bottom: -23px;
      left: 0;
      width: 30px;
      height: 2px;
      background: #fff;
      line-height: 50px;
      font-size: 24px;
      cursor: pointer;
      display: none;

      &::after,
      &::before {
         position: absolute;
         left: 0;
         content: '';
         width: 30px;
         height: 2px;
         background: #fff;
      }

      &::after {
         top: 8px;
      }
      &::before {
         top: -8px;
      }
   }

   .open {
      width: 0;
      transition: all .3s ease;
   }
   .open::after,
   .open::before {
      top: 0;
   }
   .open::before {
      transform: rotate(45deg);
   }
   .open::after{
      transform: rotate(-45deg);
   }

   @media (max-width: $breakpoint1024) {
      .menu-toggle {
        display: block;
      }
      .menu {
        position: absolute;
        width: 50%;
        height: calc(100vh - 50px);
        background: #333;
        top: 57px;
        left: -120%;
        transition: 0.5s;
      }
      .active {
         left: -20px;
         z-index: 99;
         overflow: hidden;
         padding-top: 20px;

         .menu__item {
            padding: 10px;
         }
      }
      .menu,
      .menu__item {
        display: block;
        text-align: center;
      }
      .menu__link {
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
   }
   @media (max-width: $breakpoint768) {
      .menu {
         width: 80%;
      }
   }
   @media (max-width: $breakpoint480) {
      .menu {
         width: 100%;
      }
   }

   &__button {
      background: $secondary;
      border-radius: 12px;
      padding: 9px 22px;
      display: flex;
      align-items: center;
      transition: all .3s ease-in-out;

      &:hover {
         background: $contantColor;

         .btn-setting-text {
            color: $containerColor;
         } 

         .btn-setting-icon path{
            fill: $containerColor;
         }
      }

      .btn-setting-icon {
         margin-right: 9px;
      }

      .btn-setting-text {
         letter-spacing: -0.5px;
         text-transform: uppercase;
         font-weight: 800;
         font-size: 16px;
         line-height: 26px;

         color: #344265;
      }
   }
}
