* {
   padding: 0;
   margin: 0;
   border: 0;
   &::after,
   &::before {
     box-sizing: border-box;
   }
   &:focus,
   &:active {
      outline: none;
   }
   &[type='checkbox'],
   &[type='radio'] {
     box-sizing: border-box;
     padding: 0;
   }
}
html, body {
   width: 100%;
   height: 100%;
   line-height: 1;
   font-size: 100%;
}
a { 
   text-decoration: none; 
   color: inherit; 
   &:hover {
      text-decoration: none;
   } 
}
img { vertical-align: top;}
input, button, textarea { font-family: inherit;}
button { cursor: pointer;}
nav, footer, header { display: block;}
ul, ol, li { list-style: none; padding: 0;}
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400;}