// Breakpoint & Container
$containerWidth: 1070 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$primery: #344265;
$secondary: #FAFF00;

$containerColor: #F8F8F8;
$footerColor: #F8F8F8;
$contantColor: #5F719F;

