// Breakpoint & Container
$containerWidth: 1080 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
// $containerColor: #181818;
// $primery: #fff;
// $secondary: #fff;

