// Default
@import "reset";
@import "var";

// Font
@import "fonts";

//Block
@import "header";

// @import "footer";



.container {
   max-width: $containerWidth;
   margin: 0 auto;
   padding: 0 20px;

   font-family: 'PlusJakartaSans', sans-serif;
}